@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body{
    background-image: url('img-2.jpg');
}

/* Header */

/* Header section */

#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-image: linear-gradient(60deg, #000e57 0%, #000000 100%);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(255, 255, 255, 0.082);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: crimson;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid crimson;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: crimson;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: #007bff;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */



/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* End Exams Section */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

}
/* End  Media Query For Desktop */


.header{
    position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    background-color: #33333380;
    color: #fff;
}

.logo{
    font-size: 15px;
    font-weight: bold;
}
.logo h1{
    color: crimson;
}
.logo span{
    color: #007bff;
}
.search-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.search-nav form{
    display: flex;
    align-items: center;
}
.search-nav input[type="search"]{
    width: 200px;
    height: 30px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #444444b4;
    color: #fff;
}

.search-nav button[type="submit"]{
    width: 80px;
    height: 30px;
    background-color: #555555b4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-nav button[type="submit"]:hover{
    background-color: #666;
}

/* End Header */

/* Video-Player */
.Video-Player {
    max-width: 850px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgb(14 14 14 / 73%);
    border: 1px solid #000000;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 20px;
    margin-top: 100px;
    
}

.Video-Player video{
    inline-size: 100%;
    aspect-ratio: 11/5;
    border-radius: 25px;
	object-fit: cover;
}
.video-Player-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.video-Player-container img{
    width: 35px;
    height: 100%;
    margin: 10px;
    border-radius: 10px;
}

.like-text{
    display: none;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}
.Video-Playlist:hover .like-text{
    display: block;
}

.description{
	width: 80%;

}
.description img{
	float: left;
	width: 10%;
	height: 50px;
	margin: 10px;
	border-radius: 10px;
}
.description h1{
	float: left;
	width: 60%;
	margin: 10px;
	font-size: 30px;
	color: #fff;
}
.description h2{
	float: left;
	width: 60%;
	margin: 10px;
	font-size: 20px;
	color: #fff;
}
.description h3{
	float: right;
	margin: 10px;
	font-size: 15px;
	color: #adadad;
}
.description p{
	float: left;
	width: 60%;
	margin: 10px;
	font-size: 15px;
	color: #adadad;
}
/* End Video-Player */

/* Video-List */

.video-list {
    max-width: 750px;
    margin: 40px auto;
    padding: 20px;
    background-color: #0000009f;
    border: 1px solid #001b91;
    box-shadow: 0 0 10px rgb(0, 68, 255);
    border-radius: 20px;
}

.video-list h1{
    text-align: left;
    margin-bottom: 20px;
    font-size: 40px;
    color: crimson;
}

.video-list h1 span{
	color: #007bff;
}

.video-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.video-list li {
    margin-bottom: 10px;
}

.video-list h2 {
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
}

.video-list img{
    display: block;
    width: 80%;
    height: 100%;
    object-fit:cover;
    border-radius: 10px;
    margin: auto;
	box-shadow: 0 0 10px rgb(161, 8, 8);
}
.video-list img:hover {
box-shadow: 0 0 10px royalblue;
}

.video-link {
    color: #b30000;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.2s ease;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 10px;

}
.video-link :hover {
    color: #007bff;
}
.More-Videos-Button{
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #b30000;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
    display: block;
    text-align: center;
    font-size: 15px;

}
.More-Videos-Button:hover{
    background-color: #007bff;

}

/* End Video-List */

/* Footer */

.footer{
    background-color: #0e0e0e;
    color: #fff;
    padding: 50px 0;
}
.footer .container{
    max-width: 1200px;
    margin: 0 auto;
}
.footer .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer .col-md-3{
    width: 25%;
    margin-bottom: 20px;
    margin-left: 50px;
}
.footer h1{
    font-size: 25px;
    margin-bottom: 10px;
}
.footer .ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer li{
    margin-bottom: 10px;
}
.footer a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.footer a:hover{
    color: #ccc;
}
.copyright{
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

/* End Footer */